# Appendix: 2950 Project Data Cleaning

First, we imported our csv file "Life Expectancy Data.csv" which we downloaded from https://www.kaggle.com/kumarajarshi/life-expectancy-who and can be viewed here https://drive.google.com/file/d/1uWotsPMAGiU_x2lEgssgJe6DtITk4r1I/view?usp=sharing

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
LED = pd.read_csv("Life Expectancy Data.csv")
LED.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
print(f"Our dataset has {len(LED)} rows and 22 columns.")

Our dataset has 2938 rows and 22 columns.

Next, we changed the column names of our dataset by removing leading or ending spaces, changing them to all lowercase, removing double spaces, and replacing any remaining spaces with underscores.

In [3]:
#changing column names
new_colnames = [name.strip() for name in LED.columns]
newer_colnames = [name.lower() for name in new_colnames]
newest_colnames = [name.replace(' ','_') for name in newer_colnames]
LED.columns= newest_colnames
LED=LED.rename(columns={'thinness__1-19_years':'thinness_1-19_years'})
LED.columns

Index(['country', 'year', 'status', 'life_expectancy', 'adult_mortality',
       'infant_deaths', 'alcohol', 'percentage_expenditure', 'hepatitis_b',
       'measles', 'bmi', 'under-five_deaths', 'polio', 'total_expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness_1-19_years',
       'thinness_5-9_years', 'income_composition_of_resources', 'schooling'],
      dtype='object')

Next, we remove the columns we do not plan to use in our analysis using the drop() function.

In [4]:
LED= LED.drop(['infant_deaths', 'alcohol', 'population', 'total_expenditure', 'hepatitis_b', 'measles', 'under-five_deaths', 'polio', 'diphtheria', 'thinness_1-19_years', 'thinness_5-9_years'], axis=1)
LED.head()

,country,year,status,life_expectancy,adult_mortality,percentage_expenditure,bmi,hiv/aids,gdp,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,71.279624,19.1,0.1,584.259210,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,73.523582,18.6,0.1,612.696514,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,73.219243,18.1,0.1,631.744976,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,78.184215,17.6,0.1,669.959000,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,7.097109,17.2,0.1,63.537231,0.454,9.5

Finally, we changed the categorical variable "status" to assign 1 if it is developed and 0 if it is developing. We then grouped our data by country, averaged the data across all 16 years, and removed the year column (because all countries have the same years of data). Finally, we dropped the rows with NaN values using the dropna() function. A random sample of our data is shown below.

In [5]:
LED.status= pd.Series(LED.status).map({"Developing":0, "Developed":1})
LED= LED.groupby('country').mean()
LED= LED.drop(["year"], axis=1)
LED = LED.dropna()
LED.sample(10)

,status,life_expectancy,adult_mortality,percentage_expenditure,bmi,hiv/aids,gdp,income_composition_of_resources,schooling
country,,,,,,,,,
Cambodia,0.0,64.34375,196.3750,33.796561,15.36250,1.02500,466.196878,0.491937,9.87500
United Arab Emirates,0.0,75.70000,67.0625,1886.731590,53.80625,0.10000,22110.366986,0.819563,12.81250
Chad,0.0,50.38750,227.7500,32.277320,16.31875,4.33750,484.791694,0.316625,6.08750
Burundi,0.0,55.53750,291.5625,15.335498,15.31250,3.08750,137.815321,0.327875,7.48125
Mali,0.0,54.93750,202.1250,48.981177,17.21250,1.82500,530.512170,0.365187,6.43125
Syrian Arab Republic,0.0,70.85000,139.6250,39.299486,47.31250,0.10000,1087.435774,0.618062,10.98125
Belize,0.0,69.26875,155.5000,365.843490,37.67500,0.43125,3933.012174,0.693937,12.45625
Mexico,0.0,75.71875,111.0625,465.327496,51.41875,0.10000,5179.330807,0.728875,12.32500
Malaysia,0.0,73.75625,118.5625,248.885028,29.16875,0.10000,4904.938992,0.749125,12.56250
Papua New Guinea,0.0,61.68125,266.5625,75.370482,40.78750,1.16875,758.097616,0.466187,8.54375

In [6]:
print(f"Our final dataset contains the data of {len(LED)} countries.")

Our final dataset contains the data of 155 countries.

Finally, we output our new dataframe in the new csv file, "WHOclean-final.csv", which will be used in our analyses.

In [7]:
LED.to_csv("WHOcleaner.csv")